@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=latin-ext');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}
body {
	font-family: "Roboto", sans-serif;
}
.row:before, .row:after {
    content: "";
    display: table;
    clear: both;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 30px;
}
header {
	width: 100%;
    height: 100vh;
	background: url(../images/hero_image.png) no-repeat center top;
	background-size: 100% auto;
	position: relative;
	margin-top: 112px;
}
header .main-menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    background: #fff;
    z-index: 9;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.06);
    box-shadow: 0 1px 4px rgba(0,0,0,0.06);
}
header .main-menu .navbar {
    margin: 0px;
    border: none;
}
header .main-menu .container {
    position: relative;
}
header .main-menu .navbar-toggle {
    margin-top: 33px;
    margin-bottom: 33px;
}
header .main-menu .navbar-toggle .icon-bar{
    -webkit-transition: .25s ease-out;
    transition: .25s ease-out;
}
header .main-menu .navbar-toggle .icon-bar:nth-child(2){
    background-color: #92278f;
    transform: rotate(45deg) translate(4px, 5px);
}
header .main-menu .navbar-toggle .icon-bar:nth-child(3){
    background-color: #e84b3a;
    opacity: 0;
}
header .main-menu .navbar-toggle .icon-bar:nth-child(4){
    background-color: #fc7f0c;
    transform: rotate(-45deg) translate(4px, -5px);
}
header .main-menu .navbar-toggle.collapsed .icon-bar:nth-child(2){
    transform: rotate(0deg) translate(0);
}
header .main-menu .navbar-toggle.collapsed .icon-bar:nth-child(3){
    opacity: 1;
}
header .main-menu .navbar-toggle.collapsed .icon-bar:nth-child(4){
    transform: rotate(0deg) translate(0);
}
header .main-menu .navbar-collapse{
    max-height: 250px;
}
header .main-menu .navbar-collapse {
    max-height: 250px;
}
header .main-menu .nav > li:nth-child(1) a {
    color: #e84b3a;
}
header .main-menu .nav > li:nth-child(2) a {
    color: #ffc000;
}
header .main-menu .nav > li:nth-child(3) a {
    color: #fc7f0c;
}
header .main-menu .nav > li:nth-child(4) a {
    color: #92278f;
}
header .main-menu .nav > li:nth-child(5) a {
    color: #8dc63f;
}
header .main-menu .nav > li:nth-child(6) a {
    color: #ee257c;
}
header .main-menu ul li a {
    font-size: 15px;
    font-weight: 700;
    padding: 30px 25px;
    cursor: pointer;
    text-align: center;
}
.nav>li>a:focus, .nav>li>a:hover {
    background: none;
}
header .main-menu ul li a .svg-inline--fa {
    display: block;
    margin: 0 auto 10px;
    font-size: 22px;
}
header .slogan {
	position: absolute;
    top: 35%;
    left: 50%;
    margin-left: -420px;
}
header .slogan h1 {
	color: #fff;
	font-size: 70px;
	text-align: center;
	font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
}
.facility {
	padding: 60px 0px;
}
.facility .section-header h3 {
    margin-bottom: 70px;
}
.facility .facility-item {
    text-align: center;
}
.facility .facility-item .icon {
    background-color: #e84b3a;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
}
.facility .facility-item .svg-inline--fa {
    font-size: 40px;
    color: #fff;
    margin-top: 29px;
    display: inline-block;
}
.facility .facility-item:hover .svg-inline--fa {
	transition: 1s;
    transform: rotate(360deg);
}
.facility > div > div > div:nth-child(2) .facility-item span {
    background-color: #ffc000;
}
.facility > div > div > div:nth-child(3) .facility-item span {
    background-color: #fc7f0c;
}
.facility > div > div > div:nth-child(4) .facility-item span {
    background-color: #92278f;
}
.facility .facility-item h4 {
    color: #e84b3a;
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 700;
}
.facility > div > div > div:nth-child(2) h4 {
    color: #ffc000;
}
.facility > div > div > div:nth-child(3) .facility-item h4 {
    color: #fc7f0c;
}
.facility > div > div > div:nth-child(4) .facility-item h4 {
    color: #92278f;
}
.facility .facility-item p {
    line-height: 26px;
    margin: 0px;
    font-size: 14px;
    color: #707070;
}
.about .overlay {
    padding: 120px 0px 60px;
}
.about .about-content h3 {
    color: #92278f;
    margin-bottom: 30px;
    font-size: 40px;
    line-height: 1.5;
    text-align: center;
}
.about .about-content p {
    color: #707070;
    line-height: 30px;
    font-size: 14px;
    text-align: justify;
    margin: 0 20px;
}
.about .team-photo {
	display: block;
    max-width: 100%;
    margin-top: 100px;
}
.slider {
    padding: 60px 0;
}
.slick-slider {
    max-width: 1300px;
    margin: 0 auto;
}
.slider .slick-slider img {
    margin: 0 10px;
}
.slick-arrow {
    display: none;
}
.slick-dots {
    bottom: -50px;
}
.slick-dots li button:before {
    font-size: 12px;
}
.classes {
	padding: 60px 0px;
}
.section-header {
    text-align: center;
    max-width: 650px;
    margin: 0px auto 55px;
}
.section-header h3 {
    color: #92278f;
    margin-bottom: 10px;
    font-size: 40px;
    line-height: 1.5;
}
.section-header p {
    line-height: 30px;
    margin: 0px;
    font-size: 16px;
    color: #707070;
}
.classes .logo {
    margin: 0 auto;
}
.classes .second-line {
    margin-bottom: 100px;
}
.classes .education-levels {
    width: 100%;
    margin-bottom: 100px;
}
.classes .about-kids, .classes .about-pros {
    color: #151635;
    padding: 20px 0 40px;
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
}
.classes .about-pros {
    color: #35992b;
}
.classes .class-item {
    margin-bottom: 30px;
}
.classes .class-item .image img {
    width: 100%;
}
.classes .class-item .schedule {
    margin: 0px;
    overflow: hidden;
}
.classes .class-item .schedule li {
    list-style: none;
    display: inline-block;
    float: left;
    padding: 10px;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    width: 33.33%;
    background-color: #92278f;
    color: #fff;
    border-top: 1px solid #fafafa;
    border-right: 1px solid #fafafa;
}
.classes .class-item .schedule li:nth-child(2) {
    background-color: #e84b3a;
}
.classes .class-item .schedule li:last-child {
    background-color: #fc7f0c;
    border-right: none;
}
.classes .class-item .schedule li span {
    display: block;
    line-height: 20px;
}
.classes .class-item .content {
    padding: 20px;
    background-color: #fafafa;
    min-height: 200px;
}
.classes .class-item .content h4 {
    text-decoration: none;
    color: #ffc000;
    font-size: 24px;
    padding-bottom: 10px;
}
.classes .first-line div:nth-child(2) .class-item .content h4 {
    color: #e84b3a;
}
.classes .first-line div:nth-child(3) .class-item .content h4 {
    color: #fc7f0c;
}
.classes .second-line div:nth-child(1) .class-item .content h4 {
    color: #92278f;
}
.classes .second-line div:nth-child(2) .class-item .content h4 {
    color: #0fbaf4;
}
.classes .third-line div:nth-child(1) .class-item .content h4 {
    color: #ee257c;
}
.classes .third-line div:nth-child(2) .class-item .content h4 {
    color: #008c99;
}
.classes .third-line div:nth-child(3) .class-item .content h4 {
    color: #8dc63f;
}
.classes .fourth-line div:nth-child(1) .class-item .content h4 {
    color: #ffc000;
}
.classes .fourth-line div:nth-child(2) .class-item .content h4 {
    color: #e84b3a;
}
.classes .fourth-line div:nth-child(3) .class-item .content h4 {
    color: #fc7f0c;
}
.classes .fifth-line div:nth-child(1) .class-item .content h4 {
    color: #92278f;
}
.classes .class-item .content p {
    margin: 0px;
    font-size: 16px;
    color: #707070;
    line-height: 24px;
}
.classes .class-item .class-details button {
    background-color: #ffc000;
    color: #fff;
    overflow: hidden;
    padding: 8px 20px;
    border: none;
    width: 100%;
}
.classes > div > div > div:nth-child(2) .class-item .class-details button {
    background-color: #e84b3a;
}
.classes > div > div > div:nth-child(3) .class-item .class-details button {
    background-color: #fc7f0c;
}
.classes .second-line div:nth-child(1) .class-item .class-details button {
    background-color: #92278f;
}
.classes .second-line div:nth-child(2) .class-item .class-details button {
    background-color: #0fbaf4;
}
.classes .third-line div:nth-child(1) .class-item .class-details button {
    background-color: #ee257c;
}
.classes .third-line div:nth-child(2) .class-item .class-details button {
    background-color: #008c99;
}
.classes .third-line div:nth-child(3) .class-item .class-details button {
    background-color: #8dc63f;
}
.classes .fourth-line div:nth-child(1) .class-item .class-details button {
    background-color: #ffc000;
}
.classes .fourth-line div:nth-child(2) .class-item .class-details button {
    background-color: #e84b3a;
}
.classes .fourth-line div:nth-child(3) .class-item .class-details button {
    background-color: #fc7f0c;
}
.classes .fifth-line div:nth-child(1) .class-item .class-details button {
    background-color: #92278f;
}
.classes .class-item .class-details p {
    text-align: center;
}
.svg-inline--fa.fa-w-16 {
    width: initial;
}
.classes .class-item .class-details .svg-inline--fa {
    padding-right: 10px;
}
.classes .class-details .modal-body, .teachers .teacher-details .modal-body {
    padding: 20px 30px;
}
.classes .class-details .modal-header .close {
    background-color: #92278f !important;
    width: auto !important;
}
.classes .class-details .modal-title, .teachers .teacher-details .modal-title {
    color: #92278f;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.classes .class-details .modal-body p, .teachers .teacher-details .modal-body p {
    color: #707070;
    text-align: justify;
    line-height: 1.5;
    padding-bottom: 15px;
}
.localisations {
	background-color: #6cbb4b;
	padding: 120px 0;
}
.section-header.bg h3 {
	color: #fff;
}
.section-header.bg p {
    color: #fff;
}
.localisations .localisation-item {
    text-align: center;
}
.localisations .localisation-item .city {
    background-color: #fff;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    display: flex;
    text-align: center;
    margin: 0 auto 50px;
}
.localisations .localisation-item .city h4 {
    font-size: 30px;
    color: #e84b3a;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.localisations .row-1 {
    margin-bottom: 30px;
}
.localisations .row-1 > div:nth-child(2) .city h4 {
    color: #92278f;
}
.localisations .row-1 > div:nth-child(3) .city h4 {
    color: #14b7f1;
}
.localisations .row-1 > div:nth-child(4) .city h4 {
    color: #ffc000;
}
.localisations .localisation-item .btn-default {
    background-color: #e84b3a;
    border-color: #e84b3a;
    color: #fff;
    margin-bottom: 20px;
    font-size: 14px;
}
.localisations .row-1 > div:nth-child(2) .btn-default {
    background-color: #92278f;
    border-color: #92278f;
}
.localisations .row-1 > div:nth-child(3) .btn-default {
    background-color: #14b7f1;
    border-color: #14b7f1;
}
.localisations .row-1 > div:nth-child(4) .btn-default {
    background-color: #ffc000;
    border-color: #ffc000;
}
.vouchery .overlay {
    padding: 120px 0px;
}
.voucher {
    max-width: 500px;
    width: 100%;
    display: block;
    margin: 0 auto;
}
.voucher-desc {
    text-align: center;
    text-transform: uppercase;
    margin: 20px;
    font-weight: bold;
    font-size: 14px;
    color: #707070;
}
.btn-order {
    display: block;
    margin: 50px auto 0;
    width: 200px;
    background: #ee257c;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}
.btn-order:hover {
	text-decoration: none;
	color: #fff;
}
.events {
    background-color: #ffc000;
}
.events .overlay {
    padding: 120px 0;
}
.events h3, .events p {
    color: #fff;
}
.events .soon {
    text-align: center;
    font-size: 20px;
}
.events .soon a {
    text-decoration: underline;
    color: inherit;
}
.teachers .overlay {
    padding: 120px 0px;
}
.teachers .teacher-item {
    background-color: #92278f;
    overflow: hidden;
    margin-bottom: 30px;
}
.teachers > div > div > div > div:nth-child(2) .teacher-item {
    background-color: #e84b3a;
}
.teachers > div > div > div > div:nth-child(3) .teacher-item {
    background-color: #fc7f0c;
}
.teachers > div > div > div > div:nth-child(4) .teacher-item {
    background-color: #14b7f1;
}
.teachers > div > div > div > div:nth-child(5) .teacher-item {
    background-color: #ffc000;
}
.teachers > div > div > div > div:nth-child(6) .teacher-item {
    background-color: #8dc63f;
}
.teachers > div > div > div > div:nth-child(7) .teacher-item {
    background-color: #ee257c;
}
.teachers > div > div > div > div:nth-child(8) .teacher-item {
    background-color: #337ab7;
}
.teachers > div > div > div > div:nth-child(9) .teacher-item {
    background-color: #92278f;
}
.teachers .teacher-item .teacher-image {
    float: left;
}
.teachers .teacher-item .teacher-image img {
    width: 100%;
}
.teachers .teacher-item .teacher-content {
    display: table;
    padding: 20px;
    color: #fff;
}
.teachers .teacher-item .teacher-content h4 {
    color: #fff;
    margin-bottom: 15px;
    font-size: 24px;
}
.teachers .teacher-item .teacher-content h4 span {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}
.teachers .teacher-item .teacher-details {
    display: table;
    padding-left: 20px;
    color: #fff;
}
.teachers .teacher-item .teacher-content p, .teachers .teacher-item .teacher-details p {
    margin-bottom: 10px;
    line-height: 1.5;
    font-size: 14px;
}
.teachers .teacher-item .teacher-content p {
    display: none;
}
.teachers .teacher-item .teacher-details p {
    cursor: pointer;
}
.teachers .teacher-item .teacher-details .svg-inline--fa {
	padding-right: 10px;
}
.teachers .teacher-item .teacher-details a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.achievements {
    background-color: #a852a5;
}
.achievements .overlay {
    padding: 120px 0px;
}
.achievements .achievement-item {
    text-align: center;
}
.achievements .achievement-item .svg-inline--fa {
    display: block;
    margin: 0 auto;
    color: #fff;
    font-size: 80px;
    padding-bottom: 30px;
}
.achievements .achievement-item span {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
}
.achievements .achievement-item p {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin: 0px;
    padding-top: 20px;
}
.testimonial {
    padding: 120px 0px;
}
.testimonial .testimonial-item{
    position: relative;
}
.testimonial .testimonial-details{
    position: relative;
    padding: 30px;
    border: 2px solid #ffc000;
    border-radius: 8px;
    margin-bottom: 14px;
}
.testimonial .testimonial-item:nth-child(2) .testimonial-details{
    border: 2px solid #e84b3a;
}
.testimonial .testimonial-item:nth-child(3) .testimonial-details{
    border: 2px solid #fc7f0c;
}
.testimonial .testimonial-details:before{
    font-family: "Font Awesome 5 Solid";
    content: "\f10d";
    display: none;
}
.testimonial .testimonial-details .svg-inline--fa:first-of-type {
    position: absolute;
    top: -5px;
    left: -2px;
    font-size: 22px;
    background: #fff;
    color: #ffc000;
    line-height: 24px;
    padding-right: 10px;
    padding-bottom: 7px;
}
.testimonial .testimonial-item:nth-child(2) .testimonial-details .svg-inline--fa:first-of-type{
    color: #e84b3a;
}
.testimonial .testimonial-item:nth-child(3) .testimonial-details .svg-inline--fa:first-of-type{
    color: #fc7f0c;
}
.testimonial .testimonial-details:after{
    font-family: "Font Awesome 5 Solid";
    content: "\f10e";
    display: none;
}
.testimonial .testimonial-details .svg-inline--fa:nth-of-type(2) {
    position: absolute;
    bottom: -5px;
    right: -2px;
    font-size: 22px;
    background: #fff;
    color: #ffc000;
    line-height: 24px;
    padding-left: 10px;
    padding-top: 7px;
}
.testimonial .testimonial-item:nth-child(2) .testimonial-details .svg-inline--fa:nth-of-type(2){
    color: #e84b3a;
}
.testimonial .testimonial-item:nth-child(3) .testimonial-details .svg-inline--fa:nth-of-type(2){
    color: #fc7f0c;
}
.testimonial .testimonial-details img{
    position: absolute;
    bottom: 0px;
    left: 30px;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}
.testimonial .testimonial-details p{
    margin-bottom: 5px;
}
.testimonial .testimonial-details h4{
    font-size: 20px;
    color: #e84b3a;
}
.testimonial .testimonial-details h4 span{
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: #707070;
}
.partner {
    background-color: #fd993d;
}
.partner .overlay {
    padding: 120px 0px;
}
.partner .partner-items .row {
    display: flex;
    align-items: center;
}
.partner .partner-items .row:first-child {
    margin-bottom: 50px;
}
.partner-item {
    width: 150px;
    margin: 0 auto;
}
.contact-details {
    padding: 120px 0px;
}
.contact-item {
    list-style: none;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.phone:before {
    content: "\f095";
    font-family: "Font Awesome 5 Solid";
    display: none;
}
.phone .svg-inline--fa {
    color: #ffc000;
    font-size: 25px;
}
.message:before {
    content: "\f0e0";
    font-family: "Font Awesome 5 Solid";
    display: none;
}
.message .svg-inline--fa {
    color: #e84b3a;
    font-size: 25px;
}
.contact-item .icon {
    display: inline-block;
    float: left;
    margin-right: 15px;
    margin-top: 6px;
}
.contact-item .content {
    display: table;
}
.contact-item .content h4 {
    color: #ffc000;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 700;
}
.contact-item:nth-child(2) .content h4 {
    color: #e84b3a;
}
.contact-item .content p {
    font-size: 16px;
    color: #707070;
    line-height: 24px;
    padding: 20px 0;
}
.contact-form .contact-input {
    width: 100%;
    background: #fafafa;
    margin-bottom: 10px;
    color: #696969;
    border: none;
    padding: 15px;
    outline: none;
}
.contact-form .btn.btn-primary {
    background-color: #92278f;
    outline: none;
    border: 0;
    font-weight: 700;
    font-size: 16px;
    padding: 17px 30px;
    margin-top: 30px;
    -webkit-transition: .25s ease-out;
    transition: .25s ease-out;
}
footer .footer-bottom {
    border-top: 1px solid #eeefee;
    background-color: #fafafa;
    padding: 30px 0px;
}
footer .footer-bottom p {
    font-weight: 700;
    margin: 0px;
    line-height: 50px;
    font-size: 16px;
    color: #707070;
}
footer .footer-bottom .social-default {
    float: right;
}
.social-default {
    overflow: hidden;
    margin: 0px;
}
.social-default li {
    list-style: none;
    display: inline-block;
    float: left;
    margin-right: 10px;
}
.social-default li a {
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    background-color: #365899;
    color: #fff;
    border-radius: 100%;
}
.social-default li:nth-child(2) a {
    background-color: #8a3ab9;
}
.social-default li:nth-child(3) a {
    background-color: #cc181e;
}
@media (max-width: 1200px){
    .slick-slider {
        max-width: 1100px;
    }
}
@media (max-width: 1024px){
    header .slogan {
        margin-left: -305px;
    }
    header .slogan h1 {
        font-size: 50px;
    }
    .about .about-content h3 {
        font-size: 30px;
    }
    .about .about-content p {
        font-size: 16px;
    }
    .slider {
        padding: 30px 0;
    }
    .slick-slider {
        max-width: 950px;
    }
    .section-header h3 {
        font-size: 30px;
    }
    .facility .facility-item .icon {
        width: 70px;
        height: 70px;
    }
    .facility .facility-item .svg-inline--fa {
        font-size: 27px;
        margin-top: 21px;
    }
    .facility .facility-item h4 {
        font-size: 16px;
    }
    .facility .facility-item p {
        font-size: 12px;
        line-height: 22px;
    }
    .facility {
        padding: 50px 0 30px;
    }
    .section-header p {
        font-size: 14px;
    }
    .classes .about-kids, .classes .about-pros {
        font-size: 16px;
        width: 75%;
        margin: 0 auto;
    }
    .classes .class-item .schedule li {
        font-size: 13px;
    }
    .classes .class-item .content h4 {
        font-size: 20px;
    }
    .classes .class-item .content p {
        font-size: 14px;
    }
    .classes .class-item .class-details button {
        font-size: 14px;
    }
    .classes .class-item .content {
        min-height: 220px;
    }
    .localisations .localisation-item .city {
        width: 150px;
        height: 150px;
    }
    .localisations .localisation-item .city h4 {
        font-size: 20px;
    }
    .vouchery .overlay {
        padding: 60px 0px;
    }
    .events .soon {
        font-size: 18px;
    }
    .teachers .teacher-item .teacher-content h4 {
        font-size: 20px;
        line-height: 1.2;
    }
    .teachers .teacher-item .teacher-content h4 span {
        font-size: 14px;
    }
    .achievements .overlay {
        padding: 60px 0px;
    }
    .achievements .achievement-item .svg-inline--fa {
        font-size: 60px;
    }
    .achievements .achievement-item span {
        font-size: 30px;
    }
    .achievements .achievement-item p {
        font-size: 15px;
    }
    .testimonial .testimonial-details p {
        font-size: 14px;
    }
    .testimonial .testimonial-details h4 {
        font-size: 16px;
    }
    .partner-item {
        width: 100px;
    }
    .contact-item .content h4 {
        font-size: 20px;
    }
    .contact-item .content p {
        font-size: 14px;
    }
    .phone .svg-inline--fa, .message .svg-inline--fa {
        font-size: 20px;
    }
    .contact-form .contact-input {
        font-size: 14px;
    }
    .contact-form .btn.btn-primary {
        font-size: 14px;
        padding: 10px 30px;
    }
    footer .footer-bottom {
        padding: 20px 0;
    }
    footer .footer-bottom p {
        font-size: 14px;
    }
    .social-default li a {
        width: 30px;
        height: 30px;
        line-height: 27px;
    }
    .social-default .svg-inline--fa {
        font-size: 16px;
    }
}
@media (max-width: 995px){
    .facility .col-sm-6 {
        margin-bottom: 30px;
    }
    .achievements .col-12 {
        margin-bottom: 30px;
    }
    footer .col-xs-12 {
        text-align: center;
    }
    footer .footer-bottom .social-default, footer .social-default li {
        float: none;
    }
}
@media only screen and (max-width: 995px)  and (min-width: 768px) {
    header { 
        height: 400px; 
    }
    header .slogan {
        margin-left: -180px;
    }
    header .slogan h1 {
        font-size: 30px;
    }
    header .main-menu .navbar-header {
        width: 100%;
        height: 50px;
    }
    header .main-menu .navbar-brand {
        width: 100%;
        padding: 15px;
    }
    header .main-menu .navbar-brand img {
        margin: 0 auto;
    }
    .navbar-nav {
        float: left!important;
        margin-top: 30px;
    }
    header .main-menu ul li a {
        padding: 40px 20px;
    }
    header {
        margin-top: 210px;
    }
}
@media only screen and (max-width: 767px) {
    header {
        margin-top: 100px;
        height: 300px;
    }
    header .slogan {
        margin-left: -180px;
        top: 40%;
    }
    header .slogan h1 {
        font-size: 30px;
    }
    header .main-menu .navbar-brand {
        padding: 10px 15px;
    }
    header .main-menu ul li a {
        padding: 15px;
        border-bottom: 1px solid #f0f0f0;
    }
    header .main-menu ul li a .fa {
        text-align: left;
        float: left;
        margin-right: 10px;
    }  
    .about .about-content h3 {
        font-size: 25px;
    }
    .about .about-content p {
        line-height: 25px;
        font-size: 14px;
        margin: 0 100px;
    }
    .slick-slider {
        max-width: 700px;
    }
    .slick-dots li button:before {
        font-size: 10px;
    }
    .section-header h3 {
        font-size: 25px;
    }
    .facility .facility-item p {
        width: 75%;
        margin: 0 auto;
    }
    .classes .about-kids, .classes .about-pros {
        font-size: 14px;
    }
    .classes .col-xs-12 {
        width: 75%;
        margin: 0 auto;
        float: none;
    }
    .classes .class-item .content {
        min-height: 190px;
    }
    .localisations .localisation-item .city {
        margin: 15px auto 30px;
    }
    .localisations .localisation-item .btn-default {
        width: 30%;
        margin: 0 auto 15px;
    }
    .events .soon {
        font-size: 16px;
    }
    .teachers .col-xs-12 {
        width: 75%;
        margin: 0 auto;
        float: none;
    }
    .achievements .achievement-item span {
        font-size: 25px;
    }
    .contact-item .content p {
        padding: 15px 0;
    }
}
@media only screen and (max-width: 640px) {
    header .slogan {
        margin-left: -150px;
        top: 40%;
    }
    header .slogan h1 {
        font-size: 25px;
    }
    #events iframe {
        max-width: 100%;
    }
    .about .about-content p {
        margin: 0 50px;
    }
    .slick-slider {
        max-width: 600px;
    }
    .classes .class-item .content {
        min-height: 100px;
    }
    .classes .class-item .content h4 {
        font-size: 18px;
    }
    .classes .class-item .content p {
        font-size: 12px;
    }
    .teachers .teacher-item {
        max-width: 250px;
        margin: 0 auto 30px;
    }
}
@media only screen and (max-width: 450px) {
    header {
        margin-top: 75px;
        height: 200px;
    }
    header .slogan {
        margin-left: -120px;
    }
    header .slogan h1 {
        font-size: 20px;
    }
    header .main-menu .navbar-toggle {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .navbar-brand>img {
        width: 70%;
    }
    .about .overlay {
        padding: 60px 0;
    }
    .slick-slider {
        max-width: 350px;
    }
    .classes .education-levels {
        display: none;
    }
    .classes .about-kids, .classes .about-pros {
        width: 100%;
    }
    .localisations .localisation-item .btn-default {
        width: 50%;
    }
    .achievements .achievement-item span {
        font-size: 20px;
    }
    .achievements .achievement-item p {
        font-size: 12px;
    }
    .partner-item {
        width: auto;
    }
    .contact-details .col-xs-4, .contact-details .col-xs-8 {
        width: 100%;
    }
}
@media only screen and (max-width: 360px) {
    header .slogan {
        top: 30%;
    }
    .about .about-content p {
        margin: 0;
    }
    .slick-slider {
        max-width: 300px;
    }
    .classes .col-xs-12 {
        width: 100%;
    }
    .localisations .localisation-item .btn-default {
        width: 100%;
    }
}